@media (max-height: 800px){
    p{
    font-size: 20px;}
  }
  
  #navbar{background-color: antiquewhite;
  position: fixed;
  
  }
  
  
  
  .bla{border: 10px solid #84a59d;
  display:inline-block;
  position: relative;
  padding-right: 500px;
  margin-left: 500px;
  background-color: #d8e2dc}
  
  
  .nav-link{display:block;}
  
  
  table{border: 10px solid #f28482;
    height: 250px;
    width: 500px;
  }
  td{border: 1px solid black;}
  
  header{font-size: 30px;}