#bg {
    position: fixed;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 215vh;
    min-height: 100%;
}

#navigation {
    background-color: #fff1e6;
    position: relative;


    z-index: 2;

}

#profile-pic {
    box-shadow: 10px 10px 5px #6d6875;
    margin-top: 2em;
    margin-bottom: 2em;

    height: 250px;
    position: relative;
    z-index: 2;
}

#content {
    margin: 20px auto;
    max-width: 965px;

    position: relative;
    z-index: 2;
    padding: 50px 80px;

    background-color: aliceblue;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #6d6875;
    box-shadow: 10px 10px 5px #6d6875;

    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -2000px;
    }

    100% {
        left: -10px;
    }
}


#seconddiv {

    width: 1500px;
    margin: -20px auto;

    position: relative;
    z-index: 2;
    animation-name: content1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#seconddiv p span {
    display: block;
    text-align: center;
    font-weight: bold;
}

@keyframes content1 {
    0% {
        right: -2000px;
    }

    100% {
        right: -10px;
    }
}

#seconddiv p {

    background-color: aliceblue;
    padding: 100px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #6d6875;
    margin: 40px auto;


    box-shadow: 10px 10px 5px #6d6875;
}

.card img {
    display: block;
    margin: 2em auto;

    width: 200px;
    height: 250px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2), -10px -10px 10px rgb(0 0 0 / 0.2);
}



.card-body button {
    width: 150px;

    border: 2px solid grey;
    color: black;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2), -10px -10px 10px rgb(0 0 0 / 0.2);
}



#thirddiv h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    color: #6d6875;
    text-align: center;
    background-color: #fff1e6;


}

#thirddiv p {

    color: #6d6875;
    text-align: center;
    background-color: #fff1e6;


}

#thirddiv a {
    text-decoration: none;
}





.dance {
    position: relative;
    z-index: 2;

    animation: lastbox 3s;

    animation-fill-mode: forwards;
}


@keyframes lastbox {
    0% {
        left: -1800px;
    }

    100% {
        left: 0px;
    }
}
}

/*
#foot {
    position: relative;
    z-index: 2;
}

h2 {

    position: relative;
    z-index: 2;
}